interactions:
- request:
    body: null
    headers:
      Authorization:
      - REDACTED_TEST_TOKEN
    method: GET
    uri: https://opendata.cwa.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=REDACTED_TEST_TOKEN
  response:
    body:
      string: '{"success":"true","records":{"location":[{"locationName":"\u81fa\u5317\u5e02","weatherElement":[{"elementName":"Wx","time":[{"startTime":"2026-09-23 18:00:00","endTime":"2026-09-24 06:00:00","parameter":{"parameterName":"\u591a\u96f2"}},{"startTime":"2026-09-24 06:00:00","endTime":"2026-09-24 18:00:00","parameter":{"parameterName":"\u6674\u6642\u591a\u96f2"}}]},{"elementName":"PoP","time":[{"startTime":"2026-09-23 18:00:00","endTime":"2026-09-24 06:00:00","parameter":{"parameterName":"20"}},{"startTime":"2026-09-24 06:00:00","endTime":"2026-09-24 18:00:00","parameter":{"parameterName":"10"}}]},{"elementName":"MinT","time":[{"startTime":"2026-09-23 18:00:00","endTime":"2026-09-24 06:00:00","parameter":{"parameterName":"25"}},{"startTime":"2026-09-24 06:00:00","endTime":"2026-09-24 18:00:00","parameter":{"parameterName":"26"}}]},{"elementName":"MaxT","time":[{"startTime":"2026-09-23 18:00:00","endTime":"2026-09-24 06:00:00","parameter":{"parameterName":"29"}},{"startTime":"2026-09-24 06:00:00","endTime":"2026-09-24 18:00:00","parameter":{"parameterName":"32"}}]}]}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
